@model RaceCal.Models.RaceCreate

@{
    ViewData["Title"] = "Create";
}

<div class="text-dark text-center" style="width: 100%; height: 100%; background-color:rgba(255, 255, 255, 0.8)">

<h1>Create a Race</h1>

<h4>RaceCreate</h4>

<div class="row justify-content-center ">
    <div class="col-md-4 mb-3" >
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            @*
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            *@
            <div class="form-group">
                <label asp-for="RaceTime" class="control-label"></label>
                <input asp-for="RaceTime" class="form-control" />
                <span asp-validation-for="RaceTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeriesId" class="control-label"></label>
                <select asp-for="SeriesId" class="form-control" asp-items="ViewBag.SeriesSelectList"></select>
                <span asp-validation-for="SeriesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrackId" class="control-label"></label>
                <select asp-for="TrackId" class="form-control" asp-items="ViewBag.TrackSelectList"></select>
                <span asp-validation-for="TrackId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Broadcast" class="control-label"></label>
                <input asp-for="Broadcast" class="form-control" />
                <span asp-validation-for="Broadcast" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
