@{
    ViewData["Title"] = "Home Page";
}





  <main>
  

  <section class="py-5 text-center container" style="width: 100%; background-color:rgba(255, 255, 255, 0.8)">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto p-5 rounded text-black bg-light rounded" style="width: 80%;">
        <h1 class="fw-light">RaceCal</h1>
        <p class="lead text-dark">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        <p>
           <a class="btn btn-primary my-2" asp-area="" asp-controller="race" asp-action="">Upcoming Races</a>


        </p>
      </div>
    </div>
  </section>

  <div class="album py-5" style="width: 100%; background-color:rgba(255, 255, 255, 0.8)">
    <div class="container">
        <section style="width: 100%">
    <div class="card mb-3" style="width: 100%;">
  <img src="https://motorsports.nbcsports.com/wp-content/uploads/sites/3/2021/05/GettyImages-1315930883-e1620002094321.jpg" class="card-img-top" alt="...">
            <div class="card-body">
    <h5 class="card-title text-dark mb-2" style="color: black;"><strong>Pato Pew</strong></h5>

              <p class="card-text text-dark">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

</section>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://cdn.cnn.com/cnnnext/dam/assets/220725095318-lewis-hamilton-large-169.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text text-dark">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://a57.foxnews.com/static.foxnews.com/foxnews.com/content/uploads/2022/07/896/500/hamlin-victory.jpg?ve=1&tl=1" class="card-img-top" alt="...">

            <div class="card-body">
              <p class="card-text text-dark">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://hips.hearstapps.com/hmg-prod/images/jimmie-johnson-hy-vee-salute-to-farmers-300-by-joe-skibinski-referenceimagewithoutwatermark-m65360-1-1658769722.jpg" class="card-img-top" alt="...">

            <div class="card-body">
              <p class="card-text text-dark">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="https://www.racefans.net/wp-content/uploads/2019/11/racefansdotnet-20191114-185252-10.jpg" class="card-img-top" alt="...">

            <div class="card-body">
              <p class="card-text text-dark">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://www.imsa.com/wp-content/uploads/sites/32/2022/07/26/P90473282_highRes_varano-de-melegari-i_2022-07-26.jpg" class="card-img-top" alt="...">

            <div class="card-body">
              <p class="card-text text-dark">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://d2779tscntxxsw.cloudfront.net/62dfe615b6b7f.png?width=475&quality=80" class="card-img-top" alt="...">

            <div class="card-body">
              <p class="card-text text-dark">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="https://i2-prod.dailystar.co.uk/incoming/article25682395.ece/ALTERNATES/s615b/0_Nicholas-Lafiti2.jpg" class="card-img-top" alt="...">

            <div class="card-body">
              <p class="card-text text-dark">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTMsejff0xDRudXON8OWxXNVRpasRbXjGXbRt-E9zDZ_f_3_ZTM13j2mZdAjjC7rPuqvI&usqp=CAU" class="card-img-top" alt="...">

            <div class="card-body">
              <p class="card-text text-dark">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Whincup_Supercars_Ride_Day_Aug_2019.jpg/250px-Whincup_Supercars_Ride_Day_Aug_2019.jpg" class="card-img-top" alt="...">

            <div class="card-body">
              <p class="card-text text-dark">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


</main>